.card-container {
    border-radius: 15px;
    background-image: url("assets/background.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: auto;
    box-shadow: 3px 26px 20px 20px #00000021;
}

.card-container-back {
    border-radius: 15px;
    background-image: url("assets/background.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: auto;
    box-shadow: 3px 26px 20px 20px #00000021;
}

/*.cards:hover {
    
}*/

.card-container, .card-container-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.card-container-back {
    transform: rotateY(180deg);
}

.rotate {
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.card-top {
    display: flex;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: space-between;
}

.card-input {
    width: 85%;
    /*height: 50px;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*border: solid 2px white;
    border-radius: 5px;*/
    margin: 0 auto 0 27px;
    padding: 15px;
}

.card-bottom {
    display: flex;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}


.card-type {
    width: 100px;
    height: 70px;
    overflow: hidden;
}

.card-type > img {
    margin: 0 10px;
    height: auto;
    transform: translateY(0);
    transition: all .2s;
    /*opacity: 0.1*/
}

.opacity-in {
    opacity: 1
}

.sticker {
    width: 80px;
    height: 80px;
    background-image: url("assets/sticker.png");
    background-size: contain;
    background-repeat: no-repeat;
}

img {
    width: 80px;
    height: 80px;
}

h5, h6, span {
    color: #fff;
    margin: 0;
}

span {
    font-size: 16px;
}


img {
    width: 85px;
    height: 60px;
}

.black-strip {
    width: 100%;
    height: 70px;
    background-color: black;
}

.cvv-input {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.cvv-container {
    width: 95%;
    margin: 0 auto;
    text-align: right;
}

.cvv-text {
    color: black;
}

.bottom-logo {
    display: flex;
    width: 95%;
    height: 100px;
    margin: 0 auto;
    justify-content: end;
    align-items: center;
}

.expires {
    width: 66px;
    height: 24px;
    overflow: hidden;
}

.text-expires {
    font-size: 1.25rem;
}

.sample {
    margin: 0 10px;
    height: auto;

}

.swipe-up {
    transform: translateY(-80%);
    transition: all .2s;
    /*transform: translateY(-80%);
    transition: all .2s;*/
}

.swipe-value-up {
    transform: translateY(-100%);
    transition: all .2s;
    /*transform: translateY(-80%);
    transition: all .2s;*/
}

/*-----------------------------------------------------------------------------------------------------*/

/*#here > div > span > span {
        display: block;
        transform: translateY(0);
        animation: move 0.2s linear;
      }

      @keyframes move {
        from {
          transform: translateY(20px);
        }
        to {
          transform: translateY(0);
        }
      }

      * {
        transition: all 0.2s;
      }*/

/*Animation*/
.field-focus {
    /*position: absolute;*/
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: top, left, width, height, .3s ease-in-out;
}

.field-focus.card-number-focus {
    border-color: white;
    width: 400px;
    height: 43px;
    left: 41px;
    top: 123px;
}

.field-focus.card-name-focus {
    border-color: white;
    width: 351px;
    height: 52px;
    left: 10px;
    top: 180px;
}

.field-focus.card-date-focus {
    border-color: white;
    width: 83px;
    height: 52px;
    left: 360px;
    top: 180px;
}


/*--------------------------------------------------------------------------------*/
ul {
    position: relative;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 7px 0;
    margin-bottom: 20px;
    flex-wrap: wrap;
    z-index: 10;
}

ul li {
    position: relative;
    padding: 0 2px;
    width: 90px;
    font-size: 17px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li span {
    margin: 0 2px;
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
}

ul li span .star {
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.35s;
    opacity: 1;
}

ul li span .label {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.35s;
    opacity: 0;
}

ul li span.active .star {
    top: -100%;
    opacity: 0;
}

ul li span.active .label {
    opacity: 1;
    transform: translate(-50%, -100%);
}

.label {
    font-size: 20px;
}

.card .details {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0 10px;
}

.card .details .name {
    width: calc(100% - 100px);
}

.card .details .date {
    width: 100px;
}

.card .details .name,
.card .details .date {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    z-index: 10;
}

.card .details div {
    letter-spacing: 1px;
}

.card .details div span {
    margin-bottom: 8px;
    opacity: 0.7;
}

.card .date .my {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow-y: hidden;
}

.card .date .my #mm_set, .card .date .my #yy_set {
    line-height: 40px;
    position: relative;
}

.card .date .my #mm_set {
    margin-right: 3px;
}

.card .date .my #yy_set {
    margin-left: 3px;
}

.card .date .my #mm_set .yy, .card .date .my #yy_set .yy {
    position: relative;
    transition: 0.3s;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transform: translateY(100%);
}

.card .date .my #yy_set .yy {
    margin-left: 10px;
}

.card .date .my #mm_set .mm, .card .date .my #yy_set .mm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    transition: 0.3s;
}

.card .date .my #mm_set.active .mm {
    top: -100%;
}

.card .date .my #yy_set.active .mm {
    top: -100%;
}

.card .date .my #mm_set.active .yy {
    transform: translateY(0%);
}

.card .date .my #yy_set.active .yy {
    transform: translateY(0%);
}

.card .full label {
    margin-left: 5px;
}

.card .back1 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    transform: rotateY(-180deg);
    transition: 0.5s;
    opacity: 0;
    padding: 10px;
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card .back1 img {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card .back1 p {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    padding: 7px;
    letter-spacing: 1px;
    background-color: white;
    border-radius: 5px;
}

.card .back1 p label {
    margin: 0 10px;
}

.card.active {
    transform: translateY(-50px) rotateY(180deg);
}

.card.active .back1 {
    opacity: 1;
}

.card.active .card1 {
    opacity: 0;
}

#pointer {
    position: absolute;
    z-index: 5;
    opacity: 0;
    border: 2px solid white;
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.6);
    border-radius: 8px;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


.animated-character {
    transform: translateX(100%);
    animation: slideIn 1s ease-out forwards;
}

/* Define the keyframes for the animation */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}