.form-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 650px;
    background-color: #fff;
    margin: 150px auto;
    border-radius: 15px;
    box-shadow: 3px 26px 20px 20px #00000021;
    top: 50px;
}

.input-control {
    border: solid 1px grey;
    border-radius: 5px;
    width: 550px;
    height: 40px;
    margin-bottom: 10px;
}

.cvv {
    border-radius: 5px;
    width: 140px;
    height: 40px;
}

.input-container {
    width: auto;
}

.select-container {
    align-self: start;
}

select {
    padding: 10px;
    width: 155px;
}

.margin-top {
    margin-top: 1px;
}

label {
    display: block;
    align-self: flex-start;
    margin: 0;
    /*padding-top: 15px;*/
}

input {
    display: block;
    padding: 5px;
}

.form-input {
    /*border: solid 2px black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 195px;
}

.button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 550px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.security {
    display: flex;
    align-items: flex-end;
}

.mr-20{
    margin-right: 20px;
}

.cards {
    background-color: transparent;
    position: absolute;
    left: calc(50% - 250px);
    width: 500px;
    height: 300px;
    top: -150px;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.rotate {
    transform: rotateY(180deg);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
